[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
rednose = "*"
pylint = "*"
pep8 = "*"
genzshcomp = "*"
setuptools-scm = "*"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
pyyaml = "*"
venture = {editable = true,path = "."}

[requires]
python_version = "3.8"
